<br>
<!--<div class="card col-md-8" >
  <div class="card-header">
   <ul >
     <li style="display:inline;">{{post.datum | date:'medium'}}</li>
     <li style="display:inline;">{{post.titel}}</li>
    <!- <li style="display:inline;float:right;margin-left:3%">
        <button class="ui icon button" (click)="dislike()">
            <i class="far fa-thumbs-down fa-2x"></i></button> : {{review.dislikes}}
      </li>

     <li style="display:inline;float:right">
        <button class="ui icon button" (click)="like()">
            <i class="far fa-thumbs-up fa-2x"></i></button> : {{review.likes}}
      </li>->
   </ul>
    
  </div>
  <div class="card-body" style="padding-left: 5%">
    <div class="card-text">{{post.bericht}}</div>
    
  </div>
</div>
-->
<div>

<div >
    <i class="far fa-newspaper"></i>
</div>

<div >
  <p>{{post.datum | date:'short'}}</p>
  <h2>{{post.titel}}</h2>
  <p style="font-size:90%;">{{post.bericht}}</p>
  <hr>
</div>
  
</div>